{% extends 'fmjobs/base.html' %}

{% block content %}

    <div class="azure">
        <a href="{% url 'digitalnomad' %}"> <h2>디지털노마드</h2></a>
        <p>[이시은]웹소설 작가가 언제 얼마나 버는지 궁금하시나요? 수익, 정산비율, 플랫폼 수수료까지 파헤쳐보겠습니다!</p>
    </div>
    <div class="aliceblue">
        <a href="{% url 'uncapitalizedstartup' %}"><h2>무자본창업</h2></a>
        <p>[이시은]무자본 창업이란?</p>
    </div>
    <div class="azure">
        <a href="{% url 'webfiction' %}"> <h2>웹소설</h2></a>
        <a href="https://www.youtube.com/watch?v=BlZ8Q8Rr9Qc" target="_blank">[웃기는작가_빵무늬]웹소설 작가가 언제 얼마나 버는지 궁금하시나요? 수익, 정산비율, 플랫폼 수수료까지 파헤쳐보겠습니다!</a>
    </div>
    <div class="aliceblue">
        <h2>어플수익</h2>
        <a href="https://www.youtube.com/watch?v=0OSM5sTUE48" target="_blank">[스마트메이커]어플 만들어서 수익을 올리는 8가지 방법 (유료 앱 모델, 광고수익, 콘텐츠 판매, 서비스 수익 등등)</a>
    </div>
    <div class="azure">
        <h2>구글애드워즈</h2>
        <a href="https://www.youtube.com/watch?v=DXbnUjB9th0" target="_blank">[동포대학][ SEO ] 인터넷으로 한달에 $1,500 벌 수 있는 지식</a>
    </div>
    <div class="aliceblue">
        <h2>공공조달부업</h2>
        <a href="https://www.youtube.com/watch?v=okE6kL0qyZ0" target="_blank">[인콘조달TV]돈되는 부업 하루 10분투자해서 매달 80만원 벌자!</a>
    </div>
    <div class="azure">
        <h2>구매대행</h2>
        <a href="https://www.youtube.com/watch?v=fqMCPAVrqVs" target="_blank">[쪼렙사업가,조랑말TV]해외구매대행, 주문부터 배송까지! A to Z</a>
    </div>
    <div class="aliceblue">
        <h2>외환거래</h2>
        <a href="https://www.youtube.com/watch?v=2DC9PqTFoCE" target="_blank">[만웅이의 꿀 정보]컴퓨터로 하루 100만원 벌기, 부자들은 절대 안가르쳐 줍니다</a>
        <br>
        <br>
        <a href="https://www.youtube.com/watch?v=LiPUCRQHTpM" target="_blank">[돈버는 정보]직장인 투잡 퇴근 후 월300만원 돈 버는 현실적인 방법</a>
    </div>
    <div class="azure">
        <h2>pdf 팔기</h2>
        <a href="https://www.youtube.com/watch?v=Qop42JIlVC4" target="_blank">[N잡하는 허대리]전자책(pdf)으로 월 100만 원 벌기</a>
    </div>
    <div class="aliceblue">
        <h2>설문조사</h2>
        <a href="https://www.youtube.com/watch?v=rRs99jv4-Fs" target="_blank">[서베이 컴페어]유료 설문조사를간편하게!</a>
        <br>
        <br>
        <a href="https://www.youtube.com/watch?v=SN5Trr5KLdI" target="_blank">[매력 더하기]브라우저 온라인 설문조사 알바 실제 1달동안 진행해본 후기</a>
    </div>
    <div class="azure">
        <h2>아마존셀러(아마존튜터)</h2>
        <a href="https://www.youtube.com/watch?v=uM_-VhY3UPQ" target="_blank">[신사임당]400만원으로 25억 매출 CEO가 된 방법</a>
        <br>
        <br>
        <a href="https://www.youtube.com/watch?v=qAcC5PAr0fY" target="_blank">[아마존 글로벌셀링]아마존 글로벌셀러 교육 l #1 시작하기—아마존 글로벌셀링이란?</a>
    </div>
    <div class="aliceblue">
        <h2>와디즈펀딩</h2>
        <a href="https://www.youtube.com/watch?v=WlWcXZVbfOA" target="_blank">[제로투원]30만원으로 누구나 창업할 수 있는 가장 현실적인 방법</a>
    </div>

{% endblock %}
